<!DOCTYPE html>
<html>
  <head>
    <title>Sub</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'hello_vue' %>
    <link href="https://unpkg.com/nprogress@0.2.0/nprogress.css" rel="stylesheet" />
    <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
